.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.card {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.text-center{
    margin-top: 20px;
    font-size: 50px;
   color: #2DB7CC;
}
.col-sm{
    display: flex;
    justify-content: center;
}
.switch {
    margin-right: 20px;
    border-color: #2DB7CC;
    color: #2DB7CC;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #2DB7CC;
}
.fa{
    color:black;
}
.card-body a i{
    display:flex;
    justify-content: flex-end;
}

.card-body{
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


.card{
    opacity: 0.9;
    transition: 0.3s ease-in-out;
}

.card:hover{
    opacity: 1;
    transform: scale(1.13);
  }

.hidden{
display:none;
}

.badge-info{
    font-size: 20px;
}

.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}


.badge-space{
    padding:0.3rem 0.3rem;
    display:inline-block;
    color:white;
    font-weight:normal;
}

.links{
    margin-top:0.5rem;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.gssoc-profile{
    width:2rem;
    height:2rem;
    display:block;
}

.gssoc-profile:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.fa:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.card a:link,
.card a:visited,
.card a:hover,
.card a:active{
    text-decoration: none;
}


@media only screen and (max-width:575px){
    .card{
        width:18rem;
        margin:1rem auto;
    }
    .card:first-child{
        margin-top:3rem;
    }
}

@media only screen and (max-width:385px){
    .h1{
        font-size:2.8rem;
    }
}
