*,*::after,*::before{
    padding:0;
    margin:0;
    box-sizing: inherit;
}

html{
    font-size:62.5%;
}

body{
    box-sizing:border-box;
}

.landing-page{
    max-height:100vh;
    overflow: hidden;
}

.navbar{
    min-height:10vh;
}

.logo-box{
    width:14rem;
}

.logo{
    width:18rem;
}

.hero-box{
    display:flex;
    align-items: center;
    max-height: 90vh;

}
.hero-content{
    width: 40%;
    margin-left: 6%;
    margin-top: 8%;

}
.hero-content .title {
    font-size: 100px;
    color: #3A7528;
    font-family: 'Open Sans Semibold';
}
.hero-content .button {
    background-color: #3A7528;
    color: #fff;
    width: 200px;
    height: 40px;
    font-family: open sans semibold;
    margin-top: 25px;
}
.hero-content h1 {
    color:#828282;
    font-family: open sans semibold;
    font-size: 30px;
}
.content{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.hero-images img {
    margin-top: 10%;
    height: 60vh;

}