body{
    height: 100%; 
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

#navbar {
    overflow: hidden;
    background-color: #ffffff;
    padding: 26px 10px;
    transition: 0.6s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
  
#navbar a {
    float: left;
    color: #737373;
    text-align: center;
    padding: 12px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    transition: 0.6s;
}

#navbar a:hover {
    color: black;
    text-decoration: underline;
    transition: 0.6s;
}
  
#navbar-right {
    float: right;
}

#main-section{
      
      background-image: linear-gradient(to bottom right, #5dcead, #e0f7ae);
      background-repeat: no-repeat;
      width: 100%;
      height: 792px;
}

#tree-img{
    margin-top: 75px;
    height: 104.5%;
    width: 116%;
}

.main-text {
    margin-top: 26%;
    font-size: 8.5em;
    font-weight: 400;
    color: #023417;
}

.button-1 {
    margin-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2em;
    background-color: #023417b2;
    color: white;
    border: 2px solid rgba(2,52,23,0.1);
    letter-spacing: 4px;
    font-weight: 600;
    transition: 0.6s;
}

.button-1:hover {
    background-color: white;
    color: #023417;
    border: 2px solid #023417;
    transition: 0.6s;
}

.fa-long-arrow-right {
    color: white;
    transition: 0.6s;
}

.button-1:hover .fa-long-arrow-right{
    color: #023417;
    transition: 0.6s;
}
 
.glass-img {
    margin-top: 110%;
    margin-left: 0.1%;
    width: 130%;
    height: 31%;
    overflow-x:hidden;
}
.text-min{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}
.text-ab{
    margin-top: 5%;
    font-size: 1.4em; 
    color: #545454; 
    letter-spacing: 1.5px;
}

@media screen and (max-width:1130px) and (min-width: 980px) {
.button-1 {
    padding-right: 3.5%;
    padding-left: 3.5%;
    padding-top: 1.8%;
    padding-bottom: 1.8%;
    font-size: 1.4em;
    background-color: #023417b2;
    color: white;
    border: 2px solid rgba(2,52,23,0.1);
    letter-spacing: 4px;
    font-weight: 600;
    transition: 0.6s;
}
#tree-img{
    margin-top: 65px;
    height: 100%;
    width: 100%;
}

.glass-img {
    display: none;
}
}

@media screen and (max-width:979px) and (min-width: 630px) {

    .glass-img{
        display: none;
    }

    .main-text{
        margin-top: 40%;
        margin-left: 6%;
        font-size: 6em;
    }

    .text-ab{
        margin-left: 8%;
        font-size: 1.2em; 
        color: #545454; 
        letter-spacing: 1.5px;
    }

    #tree-img{
        margin-left: 5%;
        width: 110%;
    }

    .button-1 {
        margin-left: 8%;
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        font-size: 1.5em;
        background-color: #023417b2;
        color: white;
        border: 2px solid rgba(2,52,23,0.1);
        letter-spacing: 4px;
        font-weight: 600;
        transition: 0.6s;
    }

}

@media screen and (max-width:890px) and (min-width: 630px) {
    .text-ab {
        font-size: 1em;
    }
}

@media screen and (max-width:764px) and (min-width: 630px){
    .text-ab {
        font-size: 0.95em;
    }

    #tree-img {
        width:115%;
        padding-right: 5%;
    }
}

@media screen and (max-width:728px) and (min-width:699px) {
    .text-ab {
        font-size: 0.9em;
        margin-left: 8%;
    }

    .main-text{
        margin-top: 50%;
        margin-left: 9%;
        font-size: 5em;
    }
}

@media screen and (max-width:698px) and (min-width:649px) {
    .text-ab {
        font-size: 0.8em;
        margin-left: 10%;
    }

    .main-text{
        margin-top: 50%;
        margin-left: 10%;
        font-size: 5em;
    }

    .glass-img {
        display: none;
    }

    .button-1 {
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-bottom: 5%;
        font-size: 0.9em;
        background-color: #023417b2;
        color: white;
        border: 2px solid rgba(2,52,23,0.1);
        letter-spacing: 4px;
        font-weight: 600;
        transition: 0.6s;
    }
}

@media screen and (max-width:648px) and (min-width:638px) {
    .text-ab {
        font-size: 0.7em;
        margin-left: 15%;
    }

    .main-text{
        margin-top: 50%;
        margin-left: 11%;
        font-size: 5em;
    }

    .glass-img {
        display: none;
    }

    .button-1 {
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-bottom: 5%;
        font-size: 0.9em;
        background-color: #023417b2;
        color: white;
        border: 2px solid rgba(2,52,23,0.1);
        letter-spacing: 4px;
        font-weight: 600;
        transition: 0.6s;
    }
}

@media screen and (max-width:637px) and (min-width:632px) {
    .text-ab {
        font-size: 0.7em;
        margin-left: 15%;
    }

    .main-text{
        margin-top: 50%;
        margin-left: 11%;
        font-size: 4.5em;
    }

    .glass-img {
        display: none;
    }

    .button-1 {
        margin-left: 10%;
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-bottom: 5%;
        font-size: 0.9em;
        background-color: #023417b2;
        color: white;
        border: 2px solid rgba(2,52,23,0.1);
        letter-spacing: 4px;
        font-weight: 600;
        transition: 0.6s;
    }
}

@media screen and (max-width:631px) and (min-width:614px) {
    .text-ab {
        font-size: 0.7em;
        margin-left: 15%;
    }

    .main-text{
        margin-top: 55%;
        margin-left: 11%;
        font-size: 4em;
    }

    .glass-img {
        display: none;
    }

    .button-1 {
        margin-left: 10%;
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-bottom: 5%;
        font-size: 1em;
        background-color: #023417b2;
        color: white;
        border: 2px solid rgba(2,52,23,0.1);
        letter-spacing: 4px;
        font-weight: 600;
        transition: 0.6s;
    }
}


@media screen and (max-width:613px) and (min-width:576px) {
    .text-ab {
        font-size: 0.6em;
        margin-left: 17%;
    }

    .main-text{
        margin-top: 55%;
        margin-left: 18%;
        font-size: 4em;
    }

    .glass-img {
        display: none;
    }

    .button-1 {
        margin-left: 17%;
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-bottom: 5%;
        font-size: 1em;
        background-color: #023417b2;
        color: white;
        border: 2px solid rgba(2,52,23,0.1);
        letter-spacing: 4px;
        font-weight: 600;
        transition: 0.6s;
    }
}

  
@media screen and (max-width: 575px) {
    #navbar {
      padding: 20px 10px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }

    #tree-img {
        display: none;
    }

    .glass-img{
        display: none;
    }

    .main-text{
        margin-top: 60%;
        padding:10px;
        font-size: 5em;
    }

    #main-section {
        overflow: hidden;

    }

    .text-ab{
        font-size: 1em;
    }

    .button-1 {

        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-bottom: 5%;
        font-size: 1.5em;
        background-color: #023417b2;
        color: white;
        border: 2px solid rgba(2,52,23,0.1);
        letter-spacing: 4px;
        font-weight: 600;
        transition: 0.6s;
    }


}


