/* Global Styles */
*,*::after,*::before {
    padding:0;
    margin:0;
    box-sizing: inherit;
}

html {
    font-size:62.5%;
    width:100%;
}

body {
    box-sizing: border-box;
    min-height:100%;
    font-family: 'Open Sans', sans-serif;
    overflow-x:hidden;
    line-height: 1.5;
    color:#333;
    position: relative;
    width:100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style:none;
}

/* Decoration Glass */
.glass-img {
   height:20rem;
   width:20rem;
   position: absolute;
   right:-3rem;
   top:40%;
}

/* Logo Styles */
.logo-box {
  width:20rem;
}

.logo {
  max-width:100%;
  text-align: center;
}

/*  Navbar styling */
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
    box-shadow: 1px 0px 5px #07b910;
    position: sticky;
    top:0;
    width:100%;
    transition:padding 500ms ease-in-out;
}

.navbar-items {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right:2rem;
}

.navbar-item {
    padding:0rem 2rem;
}

.navbar-link:link,
.navbar-link:visited {
    font-size:2rem;
    color:#08883e;
    font-weight:bold;
    letter-spacing: 1px;
    transition:all 1s ease-in-out ;
}

.navbar-link:hover,
.navbar-link:active {
    font-size:2rem;
    color:#0ace17;
    font-weight:bold;
    letter-spacing: 1px;
    text-decoration: none;
}

/* Main Section */

.main-section { 
    display:flex;
    min-width:100%;
    align-items: center;
    justify-content: space-evenly;
    margin:0 auto;
    background-image: linear-gradient(to bottom right, #5dcead, #e0f7ae);
    max-height:110vh;
    background-repeat: no-repeat;
    overflow:hidden 
}

.image-section {
    width:40rem;
    height:70rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tree-img {
    max-width:100%;
    max-height:100%;
    position:fixed;
    bottom:-17%;
    left:0;
}

.content-section {
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
    margin:0 auto;
}

.main-text {
    font-weight: 600;
    color: #023417;
    font-size:8rem;
    letter-spacing: 2px;
    justify-self: flex-start;
}

.text-ab {
    font-size:2.5rem;
    font-weight: bold;
    color: #023417;
    margin:2rem;
    justify-self: flex-start;
}

.button {
    font-size:2rem;
    background-color: #08883e;
    padding:1rem 1.3rem;
    color:white;
    border:none;
    outline:none;
    box-shadow: 2px 4px 7px #000;
    border-radius:3px;
    justify-self: flex-start;
    position: relative;
    transition:0.6s;
    border: 2px solid #08883e;
}

.button:hover {
    background-color: white;
    color: #023417;
    font-weight:bold;
}

/* Media Queries */

@media only screen and (max-width:1200px) {
    .glass-img {
        display: none;
    }
    .navbar-item {
        margin-top:0.6rem;
    }
}

@media only screen and (max-width:812px) {
    html {
        font-size:56%;
    }
}

@media only screen and (max-width:726px) {
    .tree-img {
        width:30rem;
        height:80rem;
    }
}

@media only screen and (max-width:588px) {
    html { 
        font-size:50%;
    }  
}

@media only screen and (max-width:525px) {
    .navbar {
        flex-direction: column;
        height: max-content;
        opacity: 0.7;    
    }
    .navbar-items {
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-start; 
       margin-top:0.2rem;
       padding:0;
       align-self: flex-start;
    }
    .main-text {
       font-size:6.2rem;
    }
    .text-ab {
       font-size:2.3rem;
    }
    .main-section {
       padding-top:0rem;
       margin-top:0rem;
        min-height:110vh;
    }
    .content-section {
      position:fixed;
      top:70%;
      left:50%;
      transform:translate(-50%,-50%);
    } 
    .tree-img {
      display:none;
    }
    .image-section {
       display:none;
    }  
}

@media (max-width:420px) {
    .image-section {
        display:none;
    }
    .main-section {
        justify-content: center;
        align-items: center;
    }
    .content-section {
        align-self: center;
        justify-self: center;
        margin:0 auto;
        min-height:90vh;
    }
}